.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background: none !important;
    border: none !important;
    padding: 0 !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}